@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: #FCB0BF;
}

#texto{
    font-family: "Sour Gummy", sans-serif;
    text-align: center;
}

#escolherPresentes{
    display: flex;
    flex-wrap: wrap;
}

.presentes{
    margin-top: 159px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 100px;
    gap: 20px;
}
