@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');


body{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.5), white, white, white), url('lirio.png');
    background-repeat: no-repeat; 
    background-position: top;
    background-size: cover;
}

#boneco{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 180px;
}

#titulo{
    text-align: center;
    font-family: "Sour Gummy", sans-serif;
}

#descricao{
    margin-top: 90px;
    margin-left: 20px;
}

p{
    font-family: "Sour Gummy", sans-serif;
    font-size: 20px;
    text-align: center;
}

#botao{
    margin-top: 50px;
    font-family: "Sour Gummy", sans-serif;
    font-size: 20px;
    text-decoration: none;
    background-color: #FCB0BF;
    border: none;
    border-radius: 20px;
    padding: 14px 40px;
    cursor: pointer;
}
